html,
body {
    margin: 0;
    padding: 0;
}
img {
    width: 100%;
    height: auto;
}

.title-box {
    position: relative;
}

.logo {
    position: absolute;
    bottom: 40px;
    left: 25px;
    font-family: YakuHanJPs, "open sans", "Open Sans", LinotypeUnivers, Univers, "Helvetica Neue", Helvetica, Roboto, "Noto Sans", "Droid Sans", Verdana, 游ゴシック体, YuGothic, "游ゴシック Medium", "Yu Gothic Medium", 游ゴシック, "Yu Gothic", "Noto Sans CJK JP", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", メイリオ, Meiryo, "ＭＳ Ｐゴシック", sans-serif;
}

.logo .logo1 {
    color:lightgray;
    font-size: 1em;
}

.logo .logo2 {
    color: #22b5bb;    
    font-weight: 700;
    font-size: 3em;
    line-height: 0.8;
}

.mode {
    position: absolute;
    bottom: -100px;
    right: 20px;
    /* bottom: 20px;
    right: 50px; */
    list-style: none;
    background-color:gainsboro;
    /* background-color: rgba(255,255,255,0.3); */
    padding-left: 0;
    cursor: pointer;
}

.mode li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.5em;
    color: rgba(255,0,0,0.8);
    margin: 0 10px;
    line-height: 34px;
}

.p-title {
    position: absolute;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    padding: 0 5px 0 5px;
    color: red;
    background-color: rgba(240, 240, 240, 0.5);
}

.layout {
    margin: auto;
    width: 90%;
    display: block;
}
.play-btn {
    position: absolute;
    bottom: 20px;
    left: 20px;
    font-size: 20px;
}

.fotorama {
    margin-top: 20px;
}

.fotorama__wrap  {
    margin: auto;
}

.fotorama__caption {
    font-size: 30px;
    bottom: auto;
    color:red;
}

.popup {
    width: 60%;
    margin: auto;
    position: relative;
    background: #fff;
    padding: 5px 5px 0px 5px;
}

.mfp-bg{
    opacity: 0;
    transition: opacity 1s;
}
.mfp-bg.mfp-ready{
opacity: 0.8;
}

.mfp-close{
    font-size: 50px;
    color: white !important;
}

.mfp-bg.mfp-removing{
opacity: 0;
}

.mfp-wrap .mfp-content{
opacity: 0;
transition: opacity 1s;
}

.mfp-wrap.mfp-ready .mfp-content {
opacity: 1;
}

.mfp-wrap.mfp-removing .mfp-content {
opacity: 0;
}
  